
doctype 5
html
  head
    title 精弘PT两周年，抽奖活动~
    link(rel="stylesheet",href="page.css")
    //- script(src="http://192.168.1.19:7777/doodle.js")
    script(src="handle.js")
  body
    canvas(width="640px", height="400px")
    #lottery
    #title 精弘PT两岁啦！
    #intro
      p 每位路人都有一次抽奖机会
      p 如果你想多玩几次，你可以试试。
      p 领奖时间和地点：立刻+现场！
      h2 开始抽奖
      p
        span 按下一次
        b 空格
        span ，
        b 或者点击下面的按钮, 
        span 盘子开始转了；再按一下，它就停了；
      p 你也就知道自己会获得什么了！

      #go Start