
body
  margin 0px
  background hsl(0,80%,96%)

*
  box-sizing border-box
  // box-shadow 0px 0px 5px hsl(0,40,70)
  font-family "Clicker"

canvas
  position absolute
  top 100px
  left 460px

@font-face
  font-family Clicker
  src url(../fonts/Clicker.woff) format(woff)

#lottery
  position absolute
  top 270px
  left 550px
  font-size 20px
  color hsl(240,80,60)

#title
  font-size 70px
  position absolute
  top 50px
  left 70px
  -webkit-transform rotate(5deg)
  color hsl(0,90,60)

#intro
  position absolute
  top 200px
  left 140px
  color hsl(240,50,30)

#go
  background hsl(0,60,54)
  width 90px
  height 90px
  font-size 60px
  color white
  padding 6px 14px
  border-radius 40px
  -webkit-transform rotate(-20deg)
  box-shadow 0px 0px 10px hsl(0,10,50)
  cursor pointer
  text-shadow 0px 0px 6px hsl(0,0,40)
  position relative
  left 200px
  top 40px

  &:hover
    background hsl(0,60,62)