body {
  margin: 0px;
  background: #fdeded;
}
* {
  box-sizing: border-box;
  font-family: "Clicker";
}
canvas {
  position: absolute;
  top: 100px;
  left: 460px;
}
@font-face {
  font-family: Clicker;
  src: url("../fonts/Clicker.woff") format(woff);
}
#lottery {
  position: absolute;
  top: 270px;
  left: 550px;
  font-size: 20px;
  color: #4747eb;
}
#title {
  font-size: 70px;
  position: absolute;
  top: 50px;
  left: 70px;
  -webkit-transform: rotate(5deg);
  color: #f53d3d;
}
#intro {
  position: absolute;
  top: 200px;
  left: 140px;
  color: #262673;
}
#go {
  background: #d04343;
  width: 90px;
  height: 90px;
  font-size: 60px;
  color: #fff;
  padding: 6px 14px;
  border-radius: 40px;
  -webkit-transform: rotate(-20deg);
  box-shadow: 0px 0px 10px #8c7373;
  cursor: pointer;
  text-shadow: 0px 0px 6px #666;
  position: relative;
  left: 200px;
  top: 40px;
}
#go:hover {
  background: #d86464;
}
